body {
  overflow-x: hidden;
}

.text-center {
  text-align: center;
}

input { 
  padding: 11px !important;
  border-radius: 3px !important;
  border: none !important;
}

.newsletter-form-button {
  background: #009B5C !important;
  color: white !important;
  text-transform: capitalize !important;
  padding: 10px 1.5rem !important;
  border: none !important;
  box-shadow: none !important;
}

.button-group {
  a {
    font-weight: 600;
    margin: 0px 1rem;
    &:first-child {
      color: white;
      padding: 10px 3rem;
      border-radius: 3px;
    }
  }
}

header.Header--top {
  /* Medium and up */
  @media screen and (min-width: 40em) {
    position: fixed;
    background: none;
    width: 100%;
    z-index: 3;
  }
  .Header-inner {
    padding: 1rem;
    .Header-nav-inner {
      a.Header-nav-item {
        &:nth-last-child(2) {
          color: white;
          font-weight: 500;
          padding: 10px 1rem;
          border: 2px solid white;
          border-radius: 3px;
        }
        &:last-child {
          background: #009B5C;
          color: white;
          font-weight: 500;
          padding: 10px 1rem;
          margin-left: 0px;
          border-radius: 3px;
        }
      }
    }
  }
}

.Index-page--has-image {
  min-height: calc(78vh - 86px) !important;
  border-radius: 0px 0px 11rem;
  .Index-page-content {
    padding-bottom: 5rem;
  }
  p {
    font-size: 1.1rem;
  }
}

/* Homepage */
#collection-63c9b806bd7c57307cef6809 {
  .Index-page--has-image {
    min-height: calc(78vh - 86px) !important;
    border-radius: 0;
  }
}

/* Homepage Hero Text */
#block-yui_3_17_2_1_1674248484421_2203 {
  h1 {
    margin-bottom: 0px;
  }
  .lead {
    font-size: 1.1rem;
    margin-top: 3rem;
  }
  .button-group {
    margin-top: 3rem;
    margin-bottom: 3rem;
    a {
      &:first-child {
        background: #009B5C;
        color: white;
      }
    }
  }
  .client-logos {
    small {
      font-weight: bold;
    }
  }
}

.gradient-underline {
  display: inline-block;
  margin-right: -3rem;
  margin-bottom: -4rem;
  margin-left: -3rem;
  padding-right: 3rem;
  padding-bottom: 4rem;
  padding-left: 3rem;
  background-image: url(https://images.squarespace-cdn.com/content/63bda5893fe1997b791a588a/b86247b8-1171-40fb-a6ae-59d7a29af532/underline-01.png?content-type=image%2Fpng);
  background-position: 50% 50%;
  background-size: 80%;
  background-repeat: no-repeat;

  color: #009B5C;
}

#homepage-featured {
  .Index-page-content {
    background: #F6F6F6 url(https://assets.website-files.com/633c4c04034aba071db9338a/633f4358d6b2e8e6fcd59fcd_Desktop%20-%202.svg) no-repeat center;
    background-size: cover;
    padding: 1.5rem 3rem;
    /* Featured Summary Block */
    #block-yui_3_17_2_1_1674284293203_1985 {
      padding: 0px;
      margin: 0px auto;
      max-width: 72rem;
      .summary-item {
        margin: 0px !important;
        padding: 0px !important;
      }
      .summary-title {
        float: left;
        font-size: 600;
        &:before {
          content: "Featured";
          display: table;
          background: #48C2C5;
          color: white;
          font-size: 11px;
          font-weight: 600;
          letter-spacing: 1px;
          padding: 0 1rem;
          margin-bottom: 7px;
        }
        .summary-title-link {
          font-weight: 600;
        }
      }
      .summary-read-more-link {
        float: right;
        background: #009B5C;
        color: white;
        padding: 10px 3rem;
        margin-top: 15px;
        border-radius: 3px;
        
      }
    }
  }
}

#homepage-insights {
  /* Large and up */
  @media screen and (min-width: 64em) {
    height: 100vh;
  }
  .Index-page-content {
    padding-top: 0px;
    margin-top: -7rem;
    h2 {
      strong {
        background: #48c2c5;
        color: white;
        font-weight: 100;
        letter-spacing: 1px;
        padding: 0 1rem;
      }
    }
  }
}

#homepage-form-factor {
  /* Large and up */
  @media screen and (min-width: 64em) {
    height: 100vh;
  }
  .Index-page-content {
    padding-top: 0px;
    margin-top: -7rem;
    h2 {
      strong {
        background: #48c2c5;
        color: white;
        font-weight: 100;
        letter-spacing: 1px;
        padding: 0 1rem;
      }
    }
  }
}

#homepage-operations-maintenance {
  /* Large and up */
  @media screen and (min-width: 64em) {
    height: 100vh;
  }
  .Index-page-content {
    padding-top: 0px;
    margin-top: -7rem;
    h2 {
      strong {
        background: #48c2c5;
        color: white;
        font-weight: 100;
        letter-spacing: 1px;
        padding: 0 1rem;
      }
    }
  }
}

#homepage-performance {
  /* Large and up */
  @media screen and (min-width: 64em) {
    height: 100vh;
  }
  .Index-page-content {
    padding-top: 0px;
    margin-top: -7rem;
    h2 {
      strong {
        background: #48c2c5;
        color: white;
        font-weight: 100;
        letter-spacing: 1px;
        padding: 0 1rem;
      }
    }
  }
}

#team-content {
  .summary-thumbnail-outer-container {
    &:before {
      content: "";
      position: absolute;
      background: #009B5C;
      margin-top: 3rem;
      width: 100%;
      height: -webkit-fill-available;
      border-radius: 5px;
      opacity: .15;
      transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    }
    &:hover {
      &:before {
        opacity: 1;
      }
     img {
      -webkit-filter: inherit; /* Safari 6.0 - 9.0 */
      filter: inherit;
     }
    }
    img {
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
  }
  .summary-title {
    margin-bottom: 0px;
  }
  .summary-excerpt {
    ul {
      padding: 0px;
      p {
        &:before {
          display: none;
        }
        a {
          display: inline-block;
          background: url(https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../releases/preview/2012/png/iconmonstr-linkedin-3.png&r=0&g=155&b=92) no-repeat center;
          background-size: 1rem;
          font-size: 0px;
          height: 1.3rem;
          width: 1.3rem;
        }
      }
    }
  }
}

/* Contact Page */
#collection-63cd8907fea432046a63cade {
  #footerBlocksTop {
    display: none;
  }
}

#contact-pricing {
  position: relative;
  background: rgb(73,194,197);
  background: linear-gradient(180deg, rgba(73,194,197,1) 30%, rgba(0,155,92,1) 100%);
  padding: 5rem 1rem;
  &:before {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 210px;
    background-image: url(https://helio.app/wp-content/themes/Helio-Blog/assets/images/backgrounds/top-wave.svg);
    bottom: 0;
    content: "";
    height: 300px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}

footer {
  /* Small only */
  @media screen and (max-width: 39.9375em) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  p {
    font-size: 13px;
    line-height: 23px;
  }
  .clear {
    &:after {
      display: none;
    }
  }
  .Footer-inner {
    padding: 0px;
  }
}

#footerBlocksTop {
  padding-bottom: 0px;
  .sqs-col-12 {
    position: relative;
    background: rgb(73,194,197);
    background: linear-gradient(180deg, rgba(73,194,197,1) 30%, rgba(0,155,92,1) 100%);
    padding: 5rem 1rem;
    &:before {
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: 100% 210px;
      background-image: url(https://helio.app/wp-content/themes/Helio-Blog/assets/images/backgrounds/top-wave.svg);
      bottom: 0;
      content: "";
      height: 300px;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 1;
    }
  }
  p {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .button-group {
    a {
      color: white;
      &:first-child {
        background: white;
        color: #009B5C;
        padding: 10px 3rem;
        margin-left: 0px;
        border-radius: 3px;
      }
    }
  }
}
#footerBlocksMiddle {
  padding: 7rem 0 5rem;
  /* Column 1 Text */
  #block-64f4571200bade3cd400 {
    /* Large and up */
    @media screen and (min-width: 64em) {
      padding-right: 5rem;
    }
    
  }
  /* Subscription Block */
  #block-yui_3_17_2_1_1674292519004_11687 {
    padding-top: 0px;
    header {
      display: none;
    }
    .newsletter-form-wrapper {
      padding: 0px;
      button {
        border: none !important;
      }
    }
  }
}

.Footer-nav {
  display: none;
}

#footerBlocksBottom {
  background: #009B5C;
  padding-bottom: 1rem;
  margin-bottom: -1rem;
  p {
    color: white;
  }
}
/* End */body {
  overflow-x: hidden;
}

.text-center {
  text-align: center;
}

input { 
  padding: 11px !important;
  border-radius: 3px !important;
  border: none !important;
}

.newsletter-form-button {
  background: #009B5C !important;
  color: white !important;
  text-transform: capitalize !important;
  padding: 10px 1.5rem !important;
  border: none !important;
  box-shadow: none !important;
}

.button-group {
  a {
    font-weight: 600;
    margin: 0px 1rem;
    &:first-child {
      color: white;
      padding: 10px 3rem;
      border-radius: 3px;
    }
  }
}

header.Header--top {
  /* Medium and up */
  @media screen and (min-width: 40em) {
    position: fixed;
    background: none;
    width: 100%;
    z-index: 3;
  }
  .Header-inner {
    padding: 1rem;
    .Header-nav-inner {
      a.Header-nav-item {
        &:nth-last-child(2) {
          color: white;
          font-weight: 500;
          padding: 10px 1rem;
          border: 2px solid white;
          border-radius: 3px;
        }
        &:last-child {
          background: #009B5C;
          color: white;
          font-weight: 500;
          padding: 10px 1rem;
          margin-left: 0px;
          border-radius: 3px;
        }
      }
    }
  }
}

.Index-page--has-image {
  min-height: calc(78vh - 86px) !important;
  border-radius: 0px 0px 11rem;
  .Index-page-content {
    padding-bottom: 5rem;
  }
  p {
    font-size: 1.1rem;
  }
}

/* Homepage */
#collection-63c9b806bd7c57307cef6809 {
  .Index-page--has-image {
    min-height: calc(78vh - 86px) !important;
    border-radius: 0;
  }
}

/* Homepage Hero Text */
#block-yui_3_17_2_1_1674248484421_2203 {
  h1 {
    margin-bottom: 0px;
  }
  .lead {
    font-size: 1.1rem;
    margin-top: 3rem;
  }
  .button-group {
    margin-top: 3rem;
    margin-bottom: 3rem;
    a {
      &:first-child {
        background: #009B5C;
        color: white;
      }
    }
  }
  .client-logos {
    small {
      font-weight: bold;
    }
  }
}

.gradient-underline {
  display: inline-block;
  margin-right: -3rem;
  margin-bottom: -4rem;
  margin-left: -3rem;
  padding-right: 3rem;
  padding-bottom: 4rem;
  padding-left: 3rem;
  background-image: url(https://images.squarespace-cdn.com/content/63bda5893fe1997b791a588a/b86247b8-1171-40fb-a6ae-59d7a29af532/underline-01.png?content-type=image%2Fpng);
  background-position: 50% 50%;
  background-size: 80%;
  background-repeat: no-repeat;

  color: #009B5C;
}

#homepage-featured {
  .Index-page-content {
    background: #F6F6F6 url(https://assets.website-files.com/633c4c04034aba071db9338a/633f4358d6b2e8e6fcd59fcd_Desktop%20-%202.svg) no-repeat center;
    background-size: cover;
    padding: 1.5rem 3rem;
    /* Featured Summary Block */
    #block-yui_3_17_2_1_1674284293203_1985 {
      padding: 0px;
      margin: 0px auto;
      max-width: 72rem;
      .summary-item {
        margin: 0px !important;
        padding: 0px !important;
      }
      .summary-title {
        float: left;
        font-size: 600;
        &:before {
          content: "Featured";
          display: table;
          background: #48C2C5;
          color: white;
          font-size: 11px;
          font-weight: 600;
          letter-spacing: 1px;
          padding: 0 1rem;
          margin-bottom: 7px;
        }
        .summary-title-link {
          font-weight: 600;
        }
      }
      .summary-read-more-link {
        float: right;
        background: #009B5C;
        color: white;
        padding: 10px 3rem;
        margin-top: 15px;
        border-radius: 3px;
        
      }
    }
  }
}

#homepage-insights {
  /* Large and up */
  @media screen and (min-width: 64em) {
    height: 100vh;
  }
  .Index-page-content {
    padding-top: 0px;
    margin-top: -7rem;
    h2 {
      strong {
        background: #48c2c5;
        color: white;
        font-weight: 100;
        letter-spacing: 1px;
        padding: 0 1rem;
      }
    }
  }
}

#homepage-form-factor {
  /* Large and up */
  @media screen and (min-width: 64em) {
    height: 100vh;
  }
  .Index-page-content {
    padding-top: 0px;
    margin-top: -7rem;
    h2 {
      strong {
        background: #48c2c5;
        color: white;
        font-weight: 100;
        letter-spacing: 1px;
        padding: 0 1rem;
      }
    }
  }
}

#homepage-operations-maintenance {
  /* Large and up */
  @media screen and (min-width: 64em) {
    height: 100vh;
  }
  .Index-page-content {
    padding-top: 0px;
    margin-top: -7rem;
    h2 {
      strong {
        background: #48c2c5;
        color: white;
        font-weight: 100;
        letter-spacing: 1px;
        padding: 0 1rem;
      }
    }
  }
}

#homepage-performance {
  /* Large and up */
  @media screen and (min-width: 64em) {
    height: 100vh;
  }
  .Index-page-content {
    padding-top: 0px;
    margin-top: -7rem;
    h2 {
      strong {
        background: #48c2c5;
        color: white;
        font-weight: 100;
        letter-spacing: 1px;
        padding: 0 1rem;
      }
    }
  }
}

#team-content {
  .summary-thumbnail-outer-container {
    &:before {
      content: "";
      position: absolute;
      background: #009B5C;
      margin-top: 3rem;
      width: 100%;
      height: -webkit-fill-available;
      border-radius: 5px;
      opacity: .15;
      transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    }
    &:hover {
      &:before {
        opacity: 1;
      }
     img {
      -webkit-filter: inherit; /* Safari 6.0 - 9.0 */
      filter: inherit;
     }
    }
    img {
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
  }
  .summary-title {
    margin-bottom: 0px;
  }
  .summary-excerpt {
    ul {
      padding: 0px;
      p {
        &:before {
          display: none;
        }
        a {
          display: inline-block;
          background: url(https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../releases/preview/2012/png/iconmonstr-linkedin-3.png&r=0&g=155&b=92) no-repeat center;
          background-size: 1rem;
          font-size: 0px;
          height: 1.3rem;
          width: 1.3rem;
        }
      }
    }
  }
}

/* Contact Page */
#collection-63cd8907fea432046a63cade {
  #footerBlocksTop {
    display: none;
  }
}

#contact-pricing {
  position: relative;
  background: rgb(73,194,197);
  background: linear-gradient(180deg, rgba(73,194,197,1) 30%, rgba(0,155,92,1) 100%);
  padding: 5rem 1rem;
  &:before {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 210px;
    background-image: url(https://helio.app/wp-content/themes/Helio-Blog/assets/images/backgrounds/top-wave.svg);
    bottom: 0;
    content: "";
    height: 300px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}

footer {
  /* Small only */
  @media screen and (max-width: 39.9375em) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  p {
    font-size: 13px;
    line-height: 23px;
  }
  .clear {
    &:after {
      display: none;
    }
  }
  .Footer-inner {
    padding: 0px;
  }
}

#footerBlocksTop {
  padding-bottom: 0px;
  .sqs-col-12 {
    position: relative;
    background: rgb(73,194,197);
    background: linear-gradient(180deg, rgba(73,194,197,1) 30%, rgba(0,155,92,1) 100%);
    padding: 5rem 1rem;
    &:before {
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: 100% 210px;
      background-image: url(https://helio.app/wp-content/themes/Helio-Blog/assets/images/backgrounds/top-wave.svg);
      bottom: 0;
      content: "";
      height: 300px;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 1;
    }
  }
  p {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .button-group {
    a {
      color: white;
      &:first-child {
        background: white;
        color: #009B5C;
        padding: 10px 3rem;
        margin-left: 0px;
        border-radius: 3px;
      }
    }
  }
}
#footerBlocksMiddle {
  padding: 7rem 0 5rem;
  /* Column 1 Text */
  #block-64f4571200bade3cd400 {
    /* Large and up */
    @media screen and (min-width: 64em) {
      padding-right: 5rem;
    }
    
  }
  /* Subscription Block */
  #block-yui_3_17_2_1_1674292519004_11687 {
    padding-top: 0px;
    header {
      display: none;
    }
    .newsletter-form-wrapper {
      padding: 0px;
      button {
        border: none !important;
      }
    }
  }
}

.Footer-nav {
  display: none;
}

#footerBlocksBottom {
  background: #009B5C;
  padding-bottom: 1rem;
  margin-bottom: -1rem;
  p {
    color: white;
  }
}
/* End */