header.Header--top {
  /* Medium and up */
  @media screen and (min-width: 40em) {
    position: fixed;
    background: none;
    width: 100%;
    z-index: 3;
  }
  .Header-inner {
    padding: 1rem;
    .Header-nav-inner {
      a {
        &:last-child {
          background: #087047;
          color: white;
        }
      }
    }
  }
}
/* End */