.foundation .grid-x { display: flex; }
.foundation .grid-x .cell { flex: 1; }
.foundation .grid-x .end { flex: inherit;  }

.foundation .grid-x .medium-6 { width: 57%; }

.foundation .hero-lead { font-size: 2.1rem; }