.foundation .grid-x { display: flex; }
.foundation .grid-x .cell { flex: 1; }
.foundation .grid-x .end { flex: inherit;  }

.foundation .grid-x .medium-6 { width: 57%; }

.foundation .button { background: #009b5c; color: #ffffff; padding: 13px 1.9rem; margin-left: 0px; border-radius: 3px; }
.foundation .hero-lead { font-size: 1.9rem; line-height: 2.1rem; }

.homev3-hero { margin-top: 5rem; }