.foundation .text-white { color: white; }


.foundation .grid-x { display: flex; }
.foundation .grid-x .cell { flex: 1; margin: 0 10px; }
.foundation .grid-x .end { flex: inherit;  }

.foundation .grid-x .medium-6 { width: 57%; }
.foundation .grid-x .medium-5 { flex: none; width: calc(100% / 2.5); }
.foundation .grid-x .medium-4 { width: 37%; }

.foundation .button { background: #009b5c; color: #ffffff; padding: 13px 1.9rem !important; margin-left: 0px; border: 1.1px solid #009b5c; border-radius: 3px; }
.foundation .pill { border-radius: 10rem !important; }
.foundation .hollow.white { background: none; color: white; border-color: white; }
.foundation .black { background: black; color: white;  border: 1.1px solid black; }
.foundation .button-group { color: white; }

.foundation h6.sub-title { font-size: 1rem; font-weight: 100; letter-spacing: 3px; margin-bottom: 0px; }
.foundation h2 { font-size: 2.5rem; }
.foundation h4 { font-size: 1.1rem; }
.foundation .hero-lead { font-size: 1.9rem; line-height: 2.1rem; }
.foundation a.arrow { color: #009b5c; background: url(https://images.squarespace-cdn.com/content/63bda5893fe1997b791a588a/adc29fc3-e114-4dcd-92fa-7de4267765b3/icon-arrow.png?content-type=image%2Fpng) no-repeat right center; background-size: 10px; padding-right: 1.1rem; }
/* Homepage v3 */
#collection-6583ccfd8a5af617e948c308 .grid-x { margin: 0px auto; padding-left: 1rem; padding-right: 1rem;  max-width: 1300px; }

#homev3-content2 .recycleos-nav { margin-top: 1rem; margin-left: -1rem; }
#homev3-content2 .recycleos-nav a { background: rgba(255, 255, 255, 0.3) url(https://images.squarespace-cdn.com/content/63bda5893fe1997b791a588a/d3500cfe-014a-4f22-95d0-783dff846839/icon-material-characterization-white.png?content-type=image%2Fpng) no-repeat 2rem center; background-size: 1.5rem; color: white; padding: 1.9rem 1.9rem 1.9rem 5rem; margin-bottom: 1rem; border-radius: 10px; }
#homev3-content2 .recycleos-nav a:hover { color: black; background-color: filter: grayscale(100%); -webkit-filter: grayscale(100%); filter: grayscale(100%); -webkit-filter: grayscale(100%); }

/* Medium up */
@media screen and (min-width: 779px) {
  .homev3-hero { margin-top: 5rem; }

  #mcImage { margin-top: -3rem; }
}

/* Medium down */
@media screen and (max-width: 778px) {
  .foundation .grid-x { margin-right: 1.1rem !important; }
  .foundation .cell { width: 100% !important; }
}

/* Small only */
@media screen and (max-width: 767px) {
  .foundation .grid-x { display: block; }
}